<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <title>Are You Sure?</title>
</head>
<body>
    <form action="{% url 'delete' reserve.id %}" method="post">
        {% csrf_token %}
        <div class="container d-flex justify-content-center">
            <div class="jumbotron my-auto" style="text-align: center;">
                <p>ยืนยันลบการจอง: </p>
                <input type="submit" value="Delete Reservation" class="btn btn-danger">
                <input type="button" value="CANCEL" class="btn btn-success" onclick="window.location = '{% url 'update' %}'">
            </div>
        </div>
    </form>
</body>
</html>